<div class="header">
  <div class="inicio">
  <div class="container">
      <img class="img" src="assets/img/logo-pet.png"/>
      <a class="titulo">PET SHOP</a>
  </div>
  </div>
</div>
      <div class="inicio">
      <div class="container menu">
        
            <a class="botao verde" href="#"><img src="assets/img/home.png"/></a>
            <a class="botao vermelho" href="#">Serviços</a>
            <a class="botao azul" href="#">Produtos</a>
            <a class="botao amarelo" href="#">Galeria</a>
            <a class="botao branco" href="#">Contato</a>
        
      </div>
      </div>
