<div class="header">
  <div class="inicio">
  <div class="container">
      <img class="img" src="assets/img/foto1.png" style="width:200px;height:150px;"/>
      <a class="titulo"> Rock / Store</a>
  </div>
  </div>
</div>
      <div class="inicio">
      <div class="container menu">
        
            <a class="botao verde" routerLink="main"><img src="assets/img/home.png"/></a>
            <a class="botao vermelho" routerLink="servicos">Serviços</a>
            <a class="botao azul" routerLink="produtos">Produtos</a>
            <a class="botao amarelo" routerLink="galeria">Galeria</a>
            <a class="botao branco" routerLink="contato">Contato</a>
        
      </div>
      </div>
