
.footer{

    background-color: black;
    height: 100px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%
  }

  .osso {

    height: 40px;
	line-height: 80px;
	white-space: nowrap;
  }

  .rodape {
    height: 100px;
	line-height: 100px;
    color: white;
    margin-left: 10px;
  }


  
