  
  
  
    <div class="container">
        <div class="row">
          <div class="col-md-4 menu">
            <br>
          <ul>
            <li>
                <h4>Lista de contatos</h4>
                <h6>Especialistas em instrumentos de cordas</h6>
                <p>Slash: (51)99821-4532</p>
                <p>Dody: (51)99823-4512</p>
                <h6>Especialista em Acordeon</h6>
                <p>Dodô: (51)99671-9545</p>
                <h6>Frete</h6>
                <p>Falcão: (51)99623-1245</p>
                <h6>Vendedores</h6>
                <p>Bruno H: (51)99645-7689</p>
                <p>Juliano: (51)99812-5693</p>


            </li>
            </ul>
          </div>
          <div class="col-md-8">
              <br>
              <h4>Localização</h4>
              <img class="card-img-top" src="../../../assets/img/mapa.png" style="width: 500px;height: 500px;">
              <br><br>
          </div>
        </div>
    </div>