<div class="fundo">
    <div class="container">
      <table>
        <tr>
          <td><img class="imagemcachorro" src="assets/img/cachorro.jpg"/></td>
            <td>
      <p>Pet Shop ou loja de animais é o nome dado a um estabelecimento comercial especializado em vender animais, geralmente filhotes, destinados a serem animais de estimação, bem como alimentos, acessórios e artigos para Petlovers, além de oferecer serviços de embelezamento como banho, tosa e perfumaria.
<br><br>
        Os principais animais comercializados nesses estabelecimentos são cães, gatos, pássaros e peixes ornamentais. Porém, muitas lojas também trabalham com espécimes exóticos como chinchilas, esquilos, furões, lagartos, cobras e tartarugas.</p>
            </td>
        </tr>
      </table>
    </div>
  </div>
