<div class="fundo">
    <div class="container">
      <table>
        <tr>
          <td><img class="imagemangus" src="assets/img/angus.png"/></td>
            <td>
      <p>O rock and roll surgiu nos subúrbios dos Estados Unidos no final dos anos 1940
         e início da década de 1950 e rapidamente se espalhou para o resto do mundo.
         No começo, o novo estilo rock sofreu várias críticas negativas e algumas positivas,
         mas sempre atrapalhando seus trabalhos. Muitos diziam que o "novo" rock incentivava
         o satanismo. Suas origens imediatas remontam a uma mistura entre blues e country,
         mas com influência de vários gêneros musicais com o rhythm and blues. Em 1951,
         na cidade de Cleveland (no Estado do Ohio), o discotecário Alan Freed começou a
         tocar a mistura de blues, country e rhythm and blues para uma plateia multirracial
         e a ele é creditado a primeira utilização da expressão "rock and roll" para descrever
         a música.</p>
            </td>
        </tr>
      </table>
    </div>
  </div>
