.fundo{
    background-image: url('/assets/img/fundo.png');
  }
  .imagemcachorro{
    width: 300px;
    height: 150px;
  }

  p {
    padding: 150px 50px;
    margin: 0px;
    text-align: justify;
    font-weight: bold;
  }